<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brahmaastra</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>Brahmaastra</header>
    <div class="row d-flex align-items-center" id="homebuttons">
        <div class="col"></div>
        <div class="col-6">
            <div class="row">
                <div class="col"><a class="btn btn-success btn-lg btn-block" href="/cluster">Clusters and Trajectories</a></div>
                <div class="col"><a class="btn btn-success btn-lg btn-block" href="/predictions">Predictions</a></div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</body>
</html>