<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_2129c1a1dfda4db4afc11795553987a7 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_2129c1a1dfda4db4afc11795553987a7" ></div>
        
</body>
<script>    
    
            var map_2129c1a1dfda4db4afc11795553987a7 = L.map(
                "map_2129c1a1dfda4db4afc11795553987a7",
                {
                    center: [55.456516, 37.829018],
                    crs: L.CRS.EPSG3857,
                    zoom: 5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_7e1c542332f34f868299218d6b692f97 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_1f6067bc8f2a4455a5e7e172e714b012 = L.circleMarker(
                [55.456516, 37.829018],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_446df71c9de44094b960b8c1f10b8e1b = L.circleMarker(
                [55.464291, 37.822922],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_0cb635564dc0458ea3625e493da79860 = L.circleMarker(
                [55.472485, 37.813140999999995],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_c1baf8a6fcf7416280b9d580d282b7ad = L.circleMarker(
                [55.492222, 37.786789],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_4839230c8f69421eb6635645a8f546fb = L.circleMarker(
                [55.49618100000001, 37.77623],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_377c824d48824b7fb484fc23efd6fce6 = L.circleMarker(
                [55.499485, 37.766876],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_65a99234a39f4b629e8f64b38d2c9673 = L.circleMarker(
                [55.503719, 37.728424],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_a656072903fe428688d635d213d15672 = L.circleMarker(
                [55.489986, 37.694435],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_23fe7aceab4e4529bc78e5a52eed702c = L.circleMarker(
                [55.48379499999999, 37.672462],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_d43cd1b36ae24e3eaa82d8ca70218b48 = L.circleMarker(
                [55.476814000000005, 37.656242],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_70fa207585b94cd7befdfb92c0823d37 = L.circleMarker(
                [55.457886, 37.632919],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_cf8861002eb84832a6c1b40dc8e4c58d = L.circleMarker(
                [55.451302, 37.624569],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_d33641e85ce347cf9d927c11bef49fdb = L.circleMarker(
                [55.411221, 37.643906],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_23cf77be08a44d8ea5b8f0e838579f6e = L.circleMarker(
                [55.386596999999995, 37.701664],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_11953910028041a0bc82a04b9b0bae97 = L.circleMarker(
                [55.362389, 37.719809999999995],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_a2256b58b97d4bffa2957a3c19a090a0 = L.circleMarker(
                [55.35429, 37.721309999999995],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_34cf3421058d4a59a96248526b0af6df = L.circleMarker(
                [55.334179000000006, 37.742115000000005],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_c7552fd3b036440e94ed693bc8c97655 = L.circleMarker(
                [55.310390000000005, 37.78373],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_1ba9630c4a214ab0bf6b24c44e9782bc = L.circleMarker(
                [55.305317, 37.796299],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_21690ddbe8b94ab5861c9fea09f257e3 = L.circleMarker(
                [55.301685, 37.816272999999995],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_2198a91ba0c24b83963ccbbe24d88cc4 = L.circleMarker(
                [55.300289, 37.831589],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_0d08da8b5cc64f65b2887db996827bae = L.circleMarker(
                [55.29698199999999, 37.850063],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_3b0505d71c324f639f33c04d7d745fc7 = L.circleMarker(
                [55.294189, 37.859802],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_c303e542657a42d1890675c39cc881d3 = L.circleMarker(
                [55.28599499999999, 37.885521000000004],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_1ed47ee72a8148a283408968831616ed = L.circleMarker(
                [55.280083, 37.905411],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_8974828c4d8a4354891bf32f86a19b03 = L.circleMarker(
                [55.2677, 37.945194],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_d7239e2019264442ac71584a7f6f008c = L.circleMarker(
                [55.196895999999995, 38.168667],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_40d75c38a2784a25978534fbd0db975a = L.circleMarker(
                [55.153416, 38.307827],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_ee639046d62f4dd2935093ae20eec140 = L.circleMarker(
                [55.104583999999996, 38.46014],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_682c9b6a5f9c4784b4ae74f6608f14fc = L.circleMarker(
                [55.056679, 38.610287],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_2679301096684e12a783c3dbd6378aa5 = L.circleMarker(
                [55.00808000000001, 38.761097],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_b6415d2c49994f7e996333c86eb2120f = L.circleMarker(
                [54.985409, 38.833008],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_57be6110c90c4b0fb0bac681903ca516 = L.circleMarker(
                [54.936016, 38.983821999999996],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_cd1af91b6ea046dd89c0b5b61c7aa8c3 = L.circleMarker(
                [54.92130699999999, 39.029514],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_813fbdc89355464f8f49f5ad399b9647 = L.circleMarker(
                [54.862602, 39.207626],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_df70659fab01479f857314147b68d180 = L.circleMarker(
                [54.852779000000005, 39.237503000000004],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_afee269adebb4905a14f813d58b2502e = L.circleMarker(
                [54.848686, 39.249989],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_dc34b6387b714784beaf40a581627f23 = L.circleMarker(
                [54.768703, 39.492603],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_4fb780a063f348b9be389d5e98c31351 = L.circleMarker(
                [54.719485999999996, 39.640278],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_b79cdfc045f44e00926d016cfdaec7e1 = L.circleMarker(
                [54.657332999999994, 39.833847],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_071c7c3b225341598f0f3e51ee735550 = L.circleMarker(
                [54.603634, 39.989471],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_cc34231d210f4027b1350d25457b70ca = L.circleMarker(
                [54.552859999999995, 40.138111],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_f4b6da20f1df4f4aa2480a51faff0f0b = L.circleMarker(
                [54.50148000000001, 40.289253],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_d7df1893b5924d4aa55a1c447807dae6 = L.circleMarker(
                [54.451752, 40.435051],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_e5b6667d8486429ba520cd8307295fa3 = L.circleMarker(
                [54.399933, 40.58498],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_070f46a25f9442408a5800abec54fc5c = L.circleMarker(
                [54.34855699999999, 40.732414],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_364240e0adf046e89f6d80bc482d8a9c = L.circleMarker(
                [54.302006000000006, 40.867706],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_ea764e79465e450190b17a57b8de90b2 = L.circleMarker(
                [54.256809, 40.99649],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_47e992d9a71045ef924c4ea21c640e45 = L.circleMarker(
                [54.196284999999996, 41.169518],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_d2007602de364d619f29ac1efafcc906 = L.circleMarker(
                [54.180542, 41.213409000000006],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_df32384b2cee41daa4fc175589b285cf = L.circleMarker(
                [54.106224, 41.422451],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_45e4153020804618822f4491694897c8 = L.circleMarker(
                [54.057549, 41.557278000000004],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_72c3800b6f08441a8cd962cd075073e1 = L.circleMarker(
                [53.90144, 41.991562],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_855f164f403b439f87e3ba5d2c3acdcc = L.circleMarker(
                [53.752570999999996, 42.394226],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_c0a9f09be0d148f8977fb4c96504ceef = L.circleMarker(
                [53.690224, 42.559395],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_dab575ee8b99495bb687335278cd0bef = L.circleMarker(
                [53.64719399999999, 42.683743],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_97bf13df864945f2b2bab45b2fd0963d = L.circleMarker(
                [53.618221, 42.990992999999996],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_b89271e4d723498c8516fee70c3807ab = L.circleMarker(
                [53.621235, 43.015404],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_589a9ab8a0c345dc81cc8f841548a3a1 = L.circleMarker(
                [53.623753, 43.059078],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_75e1182788e44f4aa26c60d73fe09704 = L.circleMarker(
                [53.626098999999996, 43.114952],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
    
            var circle_marker_47ebe199cd734a339083ac3969132dcb = L.circleMarker(
                [53.620468, 43.284393],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_2129c1a1dfda4db4afc11795553987a7);
        
</script>