<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_8674e1585fee4a07a986ca617beca857 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_8674e1585fee4a07a986ca617beca857" ></div>
        
</body>
<script>    
    
            var map_8674e1585fee4a07a986ca617beca857 = L.map(
                "map_8674e1585fee4a07a986ca617beca857",
                {
                    center: [19.933332, -156.03333999999998],
                    crs: L.CRS.EPSG3857,
                    zoom: 5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_e5032a9a36444f3394151cf040525850 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_8674e1585fee4a07a986ca617beca857);
        
    
            var circle_marker_f76382210c6747cdaff5ab15452f32e5 = L.circleMarker(
                [19.933332, -156.03333999999998],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_8674e1585fee4a07a986ca617beca857);
        
    
            var circle_marker_00970315cbdc49f491d3cdef3943fb98 = L.circleMarker(
                [19.966667, -156.050003],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_8674e1585fee4a07a986ca617beca857);
        
    
            var circle_marker_8ed6c3999a7a4f6d8cc53b5e7f183486 = L.circleMarker(
                [20.000181, -156.052765],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_8674e1585fee4a07a986ca617beca857);
        
    
            var circle_marker_75f2d488bd3f4749a61bec1d649446a9 = L.circleMarker(
                [20.044483, -156.064819],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_8674e1585fee4a07a986ca617beca857);
        
    
            var circle_marker_b3922f579e0247b5bed343ec950c4cd5 = L.circleMarker(
                [20.083126, -156.07998700000002],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_8674e1585fee4a07a986ca617beca857);
        
    
            var circle_marker_8c0d8c6397cd4174b78606c8535cc3fe = L.circleMarker(
                [20.118595000000003, -156.087097],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_8674e1585fee4a07a986ca617beca857);
        
    
            var circle_marker_6a562bc08a55447f9ad2423d4a5b6c69 = L.circleMarker(
                [20.161551, -156.098755],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_8674e1585fee4a07a986ca617beca857);
        
    
            var circle_marker_cb6464f4cc6e48a691a4e73f7bfef53b = L.circleMarker(
                [20.200769, -156.11308300000002],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_8674e1585fee4a07a986ca617beca857);
        
    
            var circle_marker_ab036bd202a24418a2d5da64ec792617 = L.circleMarker(
                [20.244617, -156.121002],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_8674e1585fee4a07a986ca617beca857);
        
    
            var circle_marker_716bd0474c114638b6fc42850eb09f6f = L.circleMarker(
                [20.289972, -156.134003],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_8674e1585fee4a07a986ca617beca857);
        
    
            var circle_marker_3cfc8141bbf44a378abd10a3d1ac64ed = L.circleMarker(
                [20.330803, -156.147079],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_8674e1585fee4a07a986ca617beca857);
        
    
            var circle_marker_e8f61b02cbcd4adb8a3d19696a0a1b4a = L.circleMarker(
                [20.368813, -156.169952],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_8674e1585fee4a07a986ca617beca857);
        
    
            var circle_marker_c7526336dc16486fb43773a726433280 = L.circleMarker(
                [20.403721, -156.19894399999998],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_8674e1585fee4a07a986ca617beca857);
        
    
            var circle_marker_da57d710a93b4731bc4853dc8e4f00d5 = L.circleMarker(
                [20.438091, -156.232697],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_8674e1585fee4a07a986ca617beca857);
        
    
            var circle_marker_d45b64b925f04c0dbdbe4544c933f925 = L.circleMarker(
                [20.470029999999998, -156.275116],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_8674e1585fee4a07a986ca617beca857);
        
    
            var circle_marker_8e0053d9d83b4a5f99669237c26ffb57 = L.circleMarker(
                [20.50313, -156.31761200000003],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_8674e1585fee4a07a986ca617beca857);
        
    
            var circle_marker_4f6e43df52834c1ab859bc50d2919898 = L.circleMarker(
                [20.536503, -156.35881],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_8674e1585fee4a07a986ca617beca857);
        
    
            var circle_marker_2a81071fcd93429cbee124168b8949b5 = L.circleMarker(
                [20.56879, -156.396835],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_8674e1585fee4a07a986ca617beca857);
        
    
            var circle_marker_b233dcb5c9744d50b9715866c3a67d9b = L.circleMarker(
                [20.601574, -156.433456],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_8674e1585fee4a07a986ca617beca857);
        
    
            var circle_marker_0449411ab8014498ad569aae378eeaf8 = L.circleMarker(
                [20.641079, -156.452393],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_8674e1585fee4a07a986ca617beca857);
        
    
            var circle_marker_9b284d7437124870bf843dba5118199e = L.circleMarker(
                [20.679610999999998, -156.468292],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_8674e1585fee4a07a986ca617beca857);
        
    
            var circle_marker_1d6094082e774dbf8ce8a63c8b686d23 = L.circleMarker(
                [20.725044, -156.474716],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_8674e1585fee4a07a986ca617beca857);
        
    
            var circle_marker_bd122029893547e0b894b8b200435265 = L.circleMarker(
                [20.771214999999998, -156.475311],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_8674e1585fee4a07a986ca617beca857);
        
    
            var circle_marker_5f24127a0b7948b7a2236cfe316d6c78 = L.circleMarker(
                [20.81369, -156.470154],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_8674e1585fee4a07a986ca617beca857);
        
    
            var circle_marker_abc2a119580e44ef953bd0ea565241f2 = L.circleMarker(
                [20.850529, -156.464951],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_8674e1585fee4a07a986ca617beca857);
        
</script>