<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_4db5329ef65e4d55b158ee5de630439b {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_4db5329ef65e4d55b158ee5de630439b" ></div>
        
</body>
<script>    
    
            var map_4db5329ef65e4d55b158ee5de630439b = L.map(
                "map_4db5329ef65e4d55b158ee5de630439b",
                {
                    center: [27.547891999999997, 67.747192],
                    crs: L.CRS.EPSG3857,
                    zoom: 5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_7efe340b5a6e4027ac181365c232cd75 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
    
            var circle_marker_ed15fdf340404a14aa070d32a72e95ca = L.circleMarker(
                [27.547891999999997, 67.747192],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
    
            var circle_marker_c74eb92552bd4f54a908835d7b169154 = L.circleMarker(
                [27.523777000000003, 67.606697],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
    
            var circle_marker_193f85d0bba94531abc53e4117f1dda5 = L.circleMarker(
                [27.521217, 67.59164399999999],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
    
            var circle_marker_005631054e9145a28a3e2aec73dff4c0 = L.circleMarker(
                [27.478363, 67.342407],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
    
            var circle_marker_07271167f87248dca72d8e336f977ed9 = L.circleMarker(
                [27.455112, 67.208389],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
    
            var circle_marker_d72601d2ce0e4b83a385998fc82046ac = L.circleMarker(
                [27.42923, 67.034348],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
    
            var circle_marker_248aeb1fff794fb58c5b418617e25aac = L.circleMarker(
                [27.408690999999997, 66.901352],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
    
            var circle_marker_b47592f37a974c79ad49259d7fdcbc23 = L.circleMarker(
                [27.394315999999996, 66.809448],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
    
            var circle_marker_f29192ce4a9d45b5a8ba5d79470b8bc0 = L.circleMarker(
                [27.359169, 66.585022],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
    
            var circle_marker_24676772b41a4ca9b2fe771cec15db19 = L.circleMarker(
                [27.337894, 66.44869200000001],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
    
            var circle_marker_61b350b0e9d84dc790d2871fcbdda7dc = L.circleMarker(
                [27.316202, 66.31279],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
    
            var circle_marker_c58169f450f345c5ab377694f082c379 = L.circleMarker(
                [27.294983000000002, 66.179047],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
    
            var circle_marker_3f56e0719afb4574a2bafee2511e40d1 = L.circleMarker(
                [27.29187, 66.159409],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
    
            var circle_marker_e753966276af43ab9cffb42f1b7053f8 = L.circleMarker(
                [27.268904, 66.015259],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
    
            var circle_marker_3b4aef40e65e4f8a87834e7f4fdd7c0f = L.circleMarker(
                [27.218628000000002, 65.77188100000001],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
    
            var circle_marker_b47df3ebd868463aaa3b3eed1c25b066 = L.circleMarker(
                [27.172308, 65.630051],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
    
            var circle_marker_e8d51e7d67ce490688ea3dcad303e7c2 = L.circleMarker(
                [27.149231, 65.490433],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
    
            var circle_marker_ccca825b9cfe467b8dc445d76b9bca91 = L.circleMarker(
                [27.127075, 65.356789],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
    
            var circle_marker_1c553cefddd743a9a70db0724959d47f = L.circleMarker(
                [27.104645, 65.22245799999999],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
    
            var circle_marker_1dcba04723734c7e8534e96ad4a24ff9 = L.circleMarker(
                [27.081438000000002, 65.084328],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
    
            var circle_marker_87171ad34ed84871b54b378d9cdff30c = L.circleMarker(
                [27.058861, 64.948792],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
    
            var circle_marker_d1e80aefabfb4e8ead46b15a9f7b6479 = L.circleMarker(
                [27.044311999999998, 64.88359799999999],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
    
            var circle_marker_ae021d0aafc048b8b8cf630730e12355 = L.circleMarker(
                [27.03968, 64.87078100000001],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
    
            var circle_marker_7846cf5bc45b46d6b990abf3fca5a50a = L.circleMarker(
                [27.034468, 64.858315],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
    
            var circle_marker_84477e6eb099403fb3b75fac16769229 = L.circleMarker(
                [27.029068, 64.846802],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
    
            var circle_marker_ebe1f2328fc2482f8f8b8ae5d28a4374 = L.circleMarker(
                [27.02298, 64.835144],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
    
            var circle_marker_85d282c52eb84c5c877a009c58653037 = L.circleMarker(
                [27.016218, 64.823296],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
    
            var circle_marker_01d3a77b89e24019a999e7977c75b838 = L.circleMarker(
                [26.945040000000002, 64.69806700000001],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
    
            var circle_marker_23ded86b1e29411dbb9085ecf6315d40 = L.circleMarker(
                [26.879608, 64.584007],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
    
            var circle_marker_539179ade7e2430b8366d84999b16091 = L.circleMarker(
                [24.434467, 54.644222],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
    
            var circle_marker_6934b5857c654eb4b3926648d40aa409 = L.circleMarker(
                [24.434841, 54.64423000000001],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
    
            var circle_marker_a0203b9607004f7c82f03bc8ff5aa4d2 = L.circleMarker(
                [24.435154, 54.644104000000006],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
    
            var circle_marker_7ba1c10ee0e847db973be47ec3e84013 = L.circleMarker(
                [24.435458999999998, 54.643809999999995],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
    
            var circle_marker_ad94d4fa7d9c46c79bd1a8f9889de179 = L.circleMarker(
                [24.435734, 54.643429000000005],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
    
            var circle_marker_e8249b0344074143aac32ca599ce6d56 = L.circleMarker(
                [24.436134, 54.64286800000001],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
    
            var circle_marker_fdcf1079d4344d2981b646c627160589 = L.circleMarker(
                [24.436478, 54.642384],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
    
            var circle_marker_ef567665ca86418ea00ee64b079485fd = L.circleMarker(
                [24.436970000000002, 54.641697],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
    
            var circle_marker_a87225deee3141149add6cbda0e6b993 = L.circleMarker(
                [24.437353, 54.641151],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
    
            var circle_marker_5bb5e09e703147e386ff7631c0f4c41c = L.circleMarker(
                [24.437923, 54.640347],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
    
            var circle_marker_36f3559bf19149f28e116e282fa1c3e1 = L.circleMarker(
                [24.439167, 54.63860699999999],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
    
            var circle_marker_7c804047ef614becbc4c33a8cbfe177d = L.circleMarker(
                [24.439518, 54.638107],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
    
            var circle_marker_634e038b98cd407383690de495feb356 = L.circleMarker(
                [24.439833, 54.637653],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
    
            var circle_marker_0b211d282f444fbabaad72a049133105 = L.circleMarker(
                [24.440110999999998, 54.637264],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
    
            var circle_marker_2b7bad64265b4ab8abe631cbbfd22e7b = L.circleMarker(
                [24.44046, 54.636772],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
    
            var circle_marker_dfbf735759fe4fe4bd143ef552847c9e = L.circleMarker(
                [24.440689000000003, 54.636448],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
    
            var circle_marker_e77c1a1fe59f401196aedb21be0ce7a6 = L.circleMarker(
                [24.440998, 54.636013],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
    
            var circle_marker_28f71c613b0b4bb581ca95de009e6215 = L.circleMarker(
                [24.441216, 54.635707999999994],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
    
            var circle_marker_fc3b55ef0ba44419bcf0960daef9b787 = L.circleMarker(
                [24.441507, 54.635296],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
    
            var circle_marker_d4dcbe349d47468e98dc9b7df5a8d6c8 = L.circleMarker(
                [24.441948, 54.634678],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
    
            var circle_marker_873a1cd1d8ef4bde8e9032c8a2e65d5d = L.circleMarker(
                [24.44408, 54.635178],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
    
            var circle_marker_9052f3ccc568479b863f6de7077d4ad1 = L.circleMarker(
                [24.444225, 54.635493999999994],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
    
            var circle_marker_c8ecc31db10f4822aaab7bbfeae0f98c = L.circleMarker(
                [24.444054, 54.635723],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
    
            var circle_marker_69aaf62169624594b50374d84419bec0 = L.circleMarker(
                [24.443661, 54.636280000000006],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
    
            var circle_marker_dee2d2a42d5046f88ee6518bff3def61 = L.circleMarker(
                [24.442142, 54.638405000000006],
                {"bubblingMouseEvents": true, "color": "#43d9de", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#43d9de", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_4db5329ef65e4d55b158ee5de630439b);
        
</script>